# Ignore Python virtual environments
myenv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore logs
*.log

backend/data
backend/data/chroma_db/

/backend/.env
AiInternTask/backend/.env

__pycache__/
*.pyc
*.pyo
*.pyd
backend/data/chroma_db/
backend/data/uploads/
backend/.env
myenv/
